nav {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0;
    padding: 25px;
    border-bottom: 2px dashed grey;

    a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }
}